# Database credentials
DB_HOST=localhost
DB_PORT=5432
DB_NAME=course_management
# DB_USER=postgres
# DB_PASSWORD=your_postgres_password

# JWT Secret (generate a random string)
# you can use the following command in the console: node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=your_random_secret_key_here

# Frontend URL
FRONTEND_URL=http://localhost:3000

# See GitHub Login Integration setup in README.md
# GitHub OAuth credentials (update callback URL)
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret
# See Email Configuration setup in README.md
# SMTP email credentials 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_FROM=Course Management <noreply@coursemanagement.com>